# Variables de entorno / credenciales
.env
.env.*

# Entorno virtual de Python
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Archivos temporales
*.log
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db